# 파이썬 클래스 응용 및 모듈 생성

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
### class 하나 생성
# 1. 인자값으로 url(주소) -> csv 파일의 주소
# 2.함수를 하나 생성-> url에 있는 csv 파일을 읽어오고, 'country 기준으로 sort, 인덱스 값을 초기화 하기
# 3.함수를 하나 생성-> 인자값을 리스트로 받는다. -> 이  매개변수를 기준으로 colmns 삭제

In [9]:
class Class_1():
   
    def __init__(self, input_url):
            self.url = input_url

    def _read(self):
        self.sales = pd.read_csv(self.url)
        self.sales.sort_values("Country", inplace = True)
        self.sales.reset_index(drop = True, inplace = True) # drop 기존 인덱스 삭제,
        return self.sales
    def _drop(self, input_list=[]): # input_list는 매개변수 이다. 매개변수는 self 사용 필요 없다.
            self.sales.drop(input_list, axis = 1, inplace = True)
            return self.sales
        
    def remove_2(self, input_s_column, input_e_column):
        self.sales.drop(self.sales.loc[:, input_s_column: input_e_column], axis=1)
        return self.sales

a = Class_1(input_url = "./csv/Sales Records.csv")
a._read()
a._drop([])

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Middle East and North Africa,Afghanistan,Cereal,Offline,H,7/24/2013,933963477,8/23/2013,9402,205.70,117.11,1933991.40,1101068.22,832923.18
1,Middle East and North Africa,Afghanistan,Household,Offline,L,2/4/2012,772306096,3/21/2012,1391,668.27,502.54,929563.57,699033.14,230530.43
2,Middle East and North Africa,Afghanistan,Cereal,Offline,H,8/20/2015,667230880,10/5/2015,7300,205.70,117.11,1501610.00,854903.00,646707.00
3,Middle East and North Africa,Afghanistan,Meat,Offline,H,8/11/2012,161685121,8/29/2012,5075,421.89,364.69,2141091.75,1850801.75,290290.00
4,Middle East and North Africa,Afghanistan,Household,Offline,M,3/25/2011,440761888,4/1/2011,92,668.27,502.54,61480.84,46233.68,15247.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Sub-Saharan Africa,Zimbabwe,Cereal,Online,C,1/16/2016,742576920,2/6/2016,3867,205.70,117.11,795441.90,452864.37,342577.53
9996,Sub-Saharan Africa,Zimbabwe,Office Supplies,Offline,L,1/26/2010,322291505,2/11/2010,2073,651.21,524.96,1349958.33,1088242.08,261716.25
9997,Sub-Saharan Africa,Zimbabwe,Fruits,Offline,C,11/20/2015,436287105,11/27/2015,5904,9.33,6.92,55084.32,40855.68,14228.64
9998,Sub-Saharan Africa,Zimbabwe,Clothes,Online,C,1/21/2017,433102357,2/3/2017,3467,109.28,35.84,378873.76,124257.28,254616.48
9999,Sub-Saharan Africa,Zimbabwe,Fruits,Offline,C,12/29/2012,486245286,2/5/2013,9640,9.33,6.92,89941.20,66708.80,23232.40

In [25]:
# 모듈 생성, 같은 폴더일 경우
import mod1 # 현재 같은 폴더일 경우에 바로 부를 수 있다.
mod1.add(3,5)

8

8

In [26]:
# 모듈 생성, 다른 폴더일 경우
 # from 폴더명 import 모드명

import imp
imp.reload(mod1)
mod1.sub(5,3)

2

2

In [28]:
import imp
imp.reload(mod1)
mod1.gop(5,3)

15

15

In [39]:
from mod3 import add, sub # 함수 불러 오기

sub(5,3)
add(5,3)

2
8

8

In [57]:
import mod1
b=mod1.Class_1("./csv/Sales Records.csv")
b._read()
b._drop([])

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Middle East and North Africa,Afghanistan,Cereal,Offline,H,7/24/2013,933963477,8/23/2013,9402,205.70,117.11,1933991.40,1101068.22,832923.18
1,Middle East and North Africa,Afghanistan,Household,Offline,L,2/4/2012,772306096,3/21/2012,1391,668.27,502.54,929563.57,699033.14,230530.43
2,Middle East and North Africa,Afghanistan,Cereal,Offline,H,8/20/2015,667230880,10/5/2015,7300,205.70,117.11,1501610.00,854903.00,646707.00
3,Middle East and North Africa,Afghanistan,Meat,Offline,H,8/11/2012,161685121,8/29/2012,5075,421.89,364.69,2141091.75,1850801.75,290290.00
4,Middle East and North Africa,Afghanistan,Household,Offline,M,3/25/2011,440761888,4/1/2011,92,668.27,502.54,61480.84,46233.68,15247.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Sub-Saharan Africa,Zimbabwe,Cereal,Online,C,1/16/2016,742576920,2/6/2016,3867,205.70,117.11,795441.90,452864.37,342577.53
9996,Sub-Saharan Africa,Zimbabwe,Office Supplies,Offline,L,1/26/2010,322291505,2/11/2010,2073,651.21,524.96,1349958.33,1088242.08,261716.25
9997,Sub-Saharan Africa,Zimbabwe,Fruits,Offline,C,11/20/2015,436287105,11/27/2015,5904,9.33,6.92,55084.32,40855.68,14228.64
9998,Sub-Saharan Africa,Zimbabwe,Clothes,Online,C,1/21/2017,433102357,2/3/2017,3467,109.28,35.84,378873.76,124257.28,254616.48
9999,Sub-Saharan Africa,Zimbabwe,Fruits,Offline,C,12/29/2012,486245286,2/5/2013,9640,9.33,6.92,89941.20,66708.80,23232.40

In [58]:
from mod1 import Class_1 as cs  # 모듈로 클래스 별칭으로 부르기
a=cs(input_url = "./csv/Sales Records.csv")
a._read()
a._drop(["Ship Date"])

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Middle East and North Africa,Afghanistan,Cereal,Offline,H,7/24/2013,933963477,9402,205.70,117.11,1933991.40,1101068.22,832923.18
1,Middle East and North Africa,Afghanistan,Household,Offline,L,2/4/2012,772306096,1391,668.27,502.54,929563.57,699033.14,230530.43
2,Middle East and North Africa,Afghanistan,Cereal,Offline,H,8/20/2015,667230880,7300,205.70,117.11,1501610.00,854903.00,646707.00
3,Middle East and North Africa,Afghanistan,Meat,Offline,H,8/11/2012,161685121,5075,421.89,364.69,2141091.75,1850801.75,290290.00
4,Middle East and North Africa,Afghanistan,Household,Offline,M,3/25/2011,440761888,92,668.27,502.54,61480.84,46233.68,15247.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Sub-Saharan Africa,Zimbabwe,Cereal,Online,C,1/16/2016,742576920,3867,205.70,117.11,795441.90,452864.37,342577.53
9996,Sub-Saharan Africa,Zimbabwe,Office Supplies,Offline,L,1/26/2010,322291505,2073,651.21,524.96,1349958.33,1088242.08,261716.25
9997,Sub-Saharan Africa,Zimbabwe,Fruits,Offline,C,11/20/2015,436287105,5904,9.33,6.92,55084.32,40855.68,14228.64
9998,Sub-Saharan Africa,Zimbabwe,Clothes,Online,C,1/21/2017,433102357,3467,109.28,35.84,378873.76,124257.28,254616.48
9999,Sub-Saharan Africa,Zimbabwe,Fruits,Offline,C,12/29/2012,486245286,9640,9.33,6.92,89941.20,66708.80,23232.40